<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="dept" class="t1.Dept">-->
<!--        <property name="deptNo" value="1"/>-->
<!--        <property name="deptName" value="技术部"/>-->
<!--    </bean>-->
<!--    <bean id="employee" class="t1.Employee" autowire="no">-->
<!--        <property name="empNo" value="002"/>-->
<!--        <property name="empName" value="小郭"/>-->
<!--        <property name="dept" ref="dept"/>-->
<!--    </bean>-->

<!--    <bean id="dept" class="t1.Dept">-->
<!--        <property name="deptNo" value="1"/>-->
<!--        <property name="deptName" value="技术部"/>-->
<!--    </bean>-->
<!--    <bean id="employee" class="t1.Employee" autowire="byName">-->
<!--        <property name="empNo" value="002"/>-->
<!--        <property name="empName" value="小郭"/>-->
<!--    </bean>-->

<!--    <bean id="dept" class="t1.Dept">-->
<!--        <property name="deptNo" value="1"/>-->
<!--        <property name="deptName" value="技术部"/>-->
<!--    </bean>-->
<!--    <bean id="employee" class="t1.Employee" autowire="byType">-->
<!--        <property name="empNo" value="002"/>-->
<!--        <property name="empName" value="小郭"/>-->
<!--    </bean>-->

    <bean id="dept2" class="t1.Dept">
        <constructor-arg name="deptNo" value="1"/>
        <constructor-arg name="deptName" value="技术部"/>
    </bean>
    <bean id="employee" class="t1.Employee" autowire="constructor">
        <constructor-arg name="empNo" value="002"/>
        <constructor-arg name="empName" value="小郭"/>
    </bean>
</beans>